<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Available Lists</h3>
  </div>
  <div id="available-lists" class="panel-body">
    <div class="jumbotron" *ngIf="(_lists.usersListsChanged$ | async)?.length === 0">
      You have no lists yet.  Create one using the field below.
    </div>
    <ul class='list-group' id='listItems'>
      <li *ngFor="let l of _lists.usersListsChanged$ | async"
          [class.active]="l.$key === _lists.activeListKey"
          class='list-group-item'>
        <div class="pull-right gearMenu">
          <app-gear-menu *ngIf="l.userIsOwner" [menuData]="getMenuData(l)"></app-gear-menu>
        </div>
        <div class="row">
          <div class="listEntry">
            <div class="col-xs-12"
                data-target="#lists"
                [attr.data-toggle]="_sizeService.screenIsPhoneSized && _lists.activeListKey ? 'collapse' : ''"
                (click)="_router.navigate(['/lists', l.$key])"
                role="button">
              {{ l.name }}
            </div>
          </div>
        </div>
      </li>
    </ul>
    <app-list-new></app-list-new>
  </div>
</div>
