<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Available Lists</h3>
  </div>
  <div id="available-lists" class="panel-body">
    <div class="jumbotron" *ngIf="(lists.usersListsChanged$ | async)?.length === 0">
      You have no lists yet.  Create one using the field below.
    </div>
    <ul class='list-group' id='listItems'>
      <li *ngFor="let l of lists.usersListsChanged$ | async"
          [class.active]="l.$key === lists.activeListKey"
          class='list-group-item'>
        <div class="row">
          <div class="col-xs-12"
              data-target="#lists"
              [attr.data-toggle]="sizeService.screenIsPhoneSized && (_route.params | async)['listKey'] ? 'collapse' : ''"
              (click)="router.navigate(['/lists', l.$key])"
              role="button">
            {{ l.name === "" ? "[no name]" : l.name }}
          </div>
        </div>
      </li>
    </ul>
    <app-list-new></app-list-new>
  </div>
</div>
