<div class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'>List Information</h3>
  </div>
  <div class='panel-body'>
    <h4>{{ (activeList | async)?.name }}</h4>
    <div class='row'>
      <div class='col-sm-12'>
        <h4>Users with access</h4>
        <div *ngFor='let u of (activeList | async)?.usersWithAccess | async'>
          {{ u.displayName }}
          <span *ngIf='creatorId === u.$key'>(List owner)</span>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class='panel panel-default' *ngIf='activeList'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Items</h3>
  </div>
  <div class='panel-body'>
    <div class='jumbotron' *ngIf='((activeList | async)?.items | async)?.length === 0'>
      This list is empty.
    </div>
    <ul class='list-group'>
      <li class='list-group-item'
          *ngFor='let i of (activeList | async)?.items | async'>
        <div class='row'>
          <div class='col-sm-9 col-lg-10'>
            <input class='form-control' #name [value]='i.name'>
          </div>
          <div class='col-sm-3 col-lg-2 text-center pull-right'>
            <button class='btn btn-success' (click)='items.rename(activeListKey, i.$key, name.value)'>
              <span class='glyphicon glyphicon-ok'></span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div *ngIf='((activeList | async)?.archive | async)?.length > 0' class='panel panel-default'>
  <div class='panel-heading'>
    <h3 class='panel-title'>
      Archive
    </h3>
  </div>
  <div class='panel-body' id='archivedItems'>
    <p>Click an item to restore</p>
    <button *ngFor='let a of (activeList | async).archive | async' class='btn btn-default' (click)='items.restore(activeListKey, a.$key)'>
      {{ a.name }}
    </button>
  </div>
</div>
