<div class="col-sm-3">
  <div class="row">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel">
        <div class="col-md-12 visible-xs">
          <p>
            <button data-parent="#accordion"
                    class="btn btn-primary btn-lg btn-block visible-xs"
                    type="button"
                    data-toggle="collapse"
                    data-target="#lists"
                    aria-expanded="false"
                    aria-controls="lists">
              Show Available Lists
            </button>
          </p>
        </div>
        <div class="col-xs-12 " id="lists" [class.collapse]="sizeService.screenIsPhoneSized">
          <app-lists></app-lists>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-9">
  <ul class="nav nav-tabs">
    <li role="presentation" [class.active]="isActive(['/lists', (activatedRoute.params | async)['listKey']])">
      <a [routerLink]="['/lists', (activatedRoute.params | async)['listKey']]">Items</a>
    </li>
    <li *ngIf="(activeList | async)?.userIsOwner" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/lists', (activatedRoute.params | async)['listKey'], 'manage']">Manage</a>
    </li>
    <li *ngIf="!(activeList | async)?.userIsOwner" role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]="['/lists', (activatedRoute.params | async)['listKey'], 'details']">Details</a>
    </li>
  </ul>
  <app-items
    *ngIf="activeView === 'items'"
    [activeList]="activeList"
    [activeListKey]="activeListKey"></app-items>
  <app-list-manage
    *ngIf="activeView === 'manage'"
    [activeList]="activeList"
    [activeListKey]="activeListKey"
    [creatorId]="(activeList | async)?.creatorId"></app-list-manage>
  <app-list-details
    *ngIf="activeView === 'details'"
    [activeList]="activeList"
    [activeListKey]="activeListKey"
    [creatorId]="(activeList | async)?.creatorId"></app-list-details>
</div>
