<div class="row">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel">
      <div class="col-md-12 visible-xs">
        <p>
          <button data-parent="#accordion"
                  class="btn btn-primary btn-lg btn-block visible-xs"
                  type="button"
                  data-toggle="collapse"
                  data-target="#lists"
                  aria-expanded="false"
                  aria-controls="lists">
            Show Available Lists
          </button>
        </p>
      </div>
      <div class="div-collapse collapse col-xs-12" id="lists">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Available Lists</h3>
          </div>
          <div id="available-lists" class="panel-body">
            <div class="jumbotron" *ngIf="(_lists.usersListsChanged$ | async)?.length === 0">
              You have no lists yet.  Create one using the field below.
            </div>
            <ul class='list-group'>
              <li *ngFor="let l of _lists.usersListsChanged$ | async"
                  [class.active]="l.$key === selectedListKey"
                  [attr.data-toggle]="_hideListOnSelecting ? 'collapse' : ''"
                  data-target="#lists"
                  class='list-group-item'
                  (click)="_lists.setActiveList(l.$key)"
                  role="button">
                <a href="#">
                  {{ (l.name | async)?.$value }}
                </a>
              </li>
            </ul>
            <app-list-new></app-list-new>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
