

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Available Lists</h3>
  </div>
  <div class="panel-body">
    <div class="jumbotron" *ngIf="(_lists.usersListsChanged$ | async)?.length === 0">
      You have no lists yet.  Create one using the field below.
    </div>
    <ul>
      <li *ngFor="let l of _lists.usersListsChanged$ | async" [class.active]="l.$key === selectedListKey">
        <a href="#" (click)="_lists.setActiveList(l.$key)">
          {{ (l.name | async)?.$value }}
        </a>
      </li>
    </ul>
    <div>
      New List: <input class='form-control' #id type="text" name="" value="">
      <button class='btn btn-default' (click)="_lists.newList(id.value)">save</button>
    </div>
  </div>
</div>
