/* You can add global styles to this file, and also import other style files */
.profileImage {
  border-radius: 100%;
  height: 30px;
}

.listEntry {
  margin-right: 29px;
}

.gearMenu {
  width: 14px;
}

.gearMenux2 {
  width: 35px;
}
