
<div class="row">
  <div class="jumbotron">
    <div *ngIf="((_auth.authChanged$ | async)?.userId)">
      <h2>Logged in as {{ _auth.userData.displayName }}</h2>
      <h4>View your <a routerLink='/lists'>lists</a></h4>
    </div>
    <div *ngIf="!((_auth.authChanged$ | async)?.userId)">
      <h2>FireList</h2>
      <h4>A firebase backed todo list.</h4>
      <p>
      <h5>You need to login to use this service</h5>
      <p><button class="btn btn-default" (click)='_auth.login()'>Log in using Google</button>
    </div>
  </div>
</div>
